<div class="row">

  <div class="span8">

    <h4>Cadastro de Veículos</h4>

    <form #veiculoForm>
      <fieldset [disabled]="camposDesabilitados">
        <div class="alert alert-{{tipoMsgRetorno}}" [hidden]="mensagemRetorno == null">{{mensagemRetorno}}</div>

        <div class="form-group">
          <input type="text" class="form-control form-control-lg" placeholder="Placa *" [(ngModel)]="veiculo.placa" name="placa" title="Placa"
            required pattern="\w{3}-\d{4}" [mask]="'AAA-0000'" maxlength="8" (blur)="validaPlaca()" #placaInput/>
        </div>
        <div class="form-group">
          <input type="text" class="form-control form-control-lg" placeholder="Chassi *" [(ngModel)]="veiculo.chassi" name="chassi"
            title="Chassi" required pattern="\w{11}\d{6}" maxlength="17" (blur)="validaChassi()" #placaInput/>
        </div>
        <div class="form-group">
          <label>Categoria *</label>
          <select [(ngModel)]="veiculo.categoria" name="categoria" class="form-control form-control-lg" required>
            <option value="SUV">Utilitário</option>
            <option value="UTILIT_COMERCIAL">Uitilitário Comercial</option>
          </select>
        </div>
        <div class="form-group">
          <input type="text" class="form-control form-control-lg" placeholder="Marca *" [(ngModel)]="veiculo.marca" name="marca" title="Marca"
            required maxlength="10" />
        </div>
        <div class="form-group">
          <input type="text" class="form-control form-control-lg" placeholder="Ano *" [(ngModel)]="veiculo.ano" name="ano" placeholder="Formato AAAA - Ex.: 2018"
            title="Ano" required pattern="\d{4}" maxlength="4" />
        </div>
        <div class="form-group">
          <input type="text" class="form-control form-control-lg" placeholder="Potência(cv) *" [(ngModel)]="veiculo.nomeResp"
            name="nomeResp" title="Nome do responsável" required pattern="\d" [mask]="'#.##0.00'" maxlength="60" />
        </div>
        <div class="form-group">
          <label>Airbag</label>
          <select [(ngModel)]="veiculo.possuiAirbag" name="possuiAirbag"  class="form-control form-control-lg">
            <option value="true">Sim</option>
            <option value="false">Não</option>
          </select>
        </div>
        <div class="form-group">
          <label>Ar condicionado</label>
          <select [(ngModel)]="veiculo.possuiArCond" name="possuiArCond"  class="form-control form-control-lg">
            <option value="true">Sim</option>
            <option value="false">Não</option>
          </select>
        </div>
        <div class="form-group">
          <label>Vidros Elétricos</label>
          <select [(ngModel)]="veiculo.possuiVidrosElet" name="possuiVidrosElet"  class="form-control form-control-lg">
            <option value="true">Sim</option>
            <option value="false">Não</option>
          </select>
        </div>
        <div class="form-group">
          <label>Status</label>
          <select [(ngModel)]="veiculo.status" name="status"  class="form-control form-control-lg">
            <option value="DISPONIVEL">Disponível</option>
            <option value="ALUGADO">Alugado</option>
            <option value="EM_REPARO">Em reparo</option>
          </select>
        </div>
      </fieldset>
      <button *ngIf="!camposDesabilitados" type="submit" class="btn" id="btnInsere" (click)="enviaDados()">Salvar</button>
      <button *ngIf="veiculo.idVeiculo" type="submit" class="btn btn-default" id="btnRemove" (click)="remove()">Remove</button>
      <button type="submit" class="btn btn-default" id="btnCancela" (click)="cancela()">{{ camposDesabilitados ? 'Voltar' : 'Cancelar' }}</button>
    </form>
  </div>
</div>